  <% obj.each do |article| %>
<div class = "row">
  <div class = "col-xs-8 col-xs-offset-2">
    <div class = "well well-lg">
      <div class = "article-title">
        <%= link_to article.topic, article_path(article) %>
      </div>
    <div class = "article-description">
      <%= truncate(article.description, length: 100) %>
      <div class = "timing"><small> Created by: <%= article.user.username if article.user %> <%= time_ago_in_words(article.created_at) %> ago,
        Updated at: <%= article.updated_at %> ago.</small></div>
      </div>
    <div class = "article-city">
      <%= article.city %>
      </div>
   <div class = "article-country">
      <%= article.country %>
    </div>
    <div class = "articles-action">

  <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-xs btn-primary' %>
  <%= link_to 'Delete', article_path(article), method: :delete, data: {confrim: "Are you sure, this can't be undone"},
                                               class: 'btn btn-xs btn-danger' %>

  </div>
    </div>
  </div>
</div>


  <% end %>

