<h1>Create a new Article</h1>

<%= form_for @article do |f| %>
<p>
  <%= f.label :topic %> <br/>
  <%= f.text_field :topic %>
</p>
<p>
  <%= f.label :description %> <br/>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>