<h1>Showing selected article</h1>
<p>
  topic: <%= @article.topic %>
</p>
<p>
  description: <%= @article.description %>
</p>
<p>
  city: <%= @article.city %>
</p>
<p>
  country: <%= @article.country %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %><br/>
<%= link_to 'back to articles', articles_path %>