<h2 align = "center">Title: <%= @article.topic %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <% if @article.user %>
  <ul class = "listing">
    <div class = "row">
      <div class = "col-md-4 col-md-offset-4">
        <li align = "center"><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
        <li class = "article-title center">
          <%= link_to @article.user.username, user_path(@article.user) %> </li>
        <li class = "center"><small><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></small></li>
      </div>
    </div>
  </ul>
  <% end %>
  <h4 align = "center" class ="description" ><strong>Description:</strong></h4>
 <hr>
  <%= simple_format(@article.description) %>
  <hr>
   <h5><strong>City: <%= @article.city %></strong></h5>
  <h5><strong>Country: <%= @article.country %></strong></h5>

  <div class = "articles-action">

  <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-xs btn-primary' %>
  <%= link_to 'Delete', articles_path(@article), method: :delete, data: {confrim: "Are you sure, this can't be undone"},
                                               class: 'btn btn-xs btn-danger' %>
  <%= link_to 'View articles', articles_path, class: 'btn btn-xs btn-primary' %>
  </div>
</div>